<h4 class="mt-3">Разработка средств конвертации мультимедийных файлов для подготовки входных данных научно-исследовательских экспериментов</h4>
       <p class="lead">
        К файлам мультимедиа здесь будем относить графические <code><mark>(*.jpg, *.png и др.),</mark> </code>
        аудио <code><mark>(*.wav, *.mp3 и др.),</mark></code> видео <code><mark>(*.avi, *.mp4 и др.)</mark></code> файлы. 
        Мультимедиа-объекты могут служить доступным источником “реалистичных”, информационно-насыщенных, 
        нетривиальных входных данных для различного рода научно-исследовательских экспериментов. 
        Наборы изображений широко используются для обучения искусственных нейронных сетей, 
        аудиосигналы представляют естественный материал для построения спектральных, авторегрессионных, 
        wavelet-моделей, видеопоток как временнáя последовательность динамически-коррелированных растров 
        является простым генератором трехмерных информационных массивов со статистическими зависимостями, 
        распределенными во всех измерениях. Примеры использования характерных свойств аудиовизуальных данных в 
        научных исследованиях в области прикладной математики и информатики могут быть чрезвычайно разнообразными.
        </p>
      <p class="lead">
      Предлагается реализовать конвертер мультимедиа-файлов основных типов в текстовые файлы простой структуры 
      <em>(для определенности – CSV)</em>. Поскольку мультимедиа-объекты имеют характерные параметры 
      <em>(ширина, высота, цветовые каналы, частота дискретизации, разрядность квантования уровня, 
      частота кадров и некоторые другие),</em> требуется ассоциировать эти параметры с <code><mark>*.csv</mark></code> файлами, 
      но без смешивания метаинформации с основными данными. Например, при конвертации цветного изображения <code><mark><name>.jpg</mark> </code> 
        можно сформировать имя выходного файла для красного канала в виде <code><mark><name>r1024x768x8bit.csv.</mark></code> 
          Как вариант, можно дополнительно задействовать иерархию папок, например, последовательность 10000 кадров 
          <em>(около 5 минут при частоте кадров 30 fps)</em> зеленого канала цветного видеопотока <code><mark><name>.avi</mark></code> записать в одну папку: 
            <code><mark><name>g1920x1080x8bitx30fps/0000.csv … 9999.csv.</mark></code> CSV-данные могут содержать либо целочисленные значения, 
              либо вещественные, нормализованные к диапазону 0..1 <em>(яркостные сигналы),</em> -1..+1 <em>(аудиосигналы).</em> 
              Нормализованный вариант предпочтительнее для последующей вычислительной обработки, но такие файлы 
              будут занимать больше дискового пространства. 
      </p>

      <p class="lead">
        Задание предполагает выбор подходящих библиотек и фреймворков, позволяющих получить программный доступ к 
        битовым плоскостям мультимедиа-данных. С использованием соответствующих инструментальных средств декодирования 
        запись выходного текстового массива становится тривиальной задачей. 
        Однако, задание усложняется необходимостью понимания смысловой составляющей организации 
        представления и хранения цифровых сигналов, а также широким спектром разрозненных алгоритмических реализаций, 
        которые требуется объединить в рамках одной программы. Корректность реализации можно на некотором грубом уровне 
        продемонстрировать импортом, например, <code><mark>*.csv</mark></code>, полученного из короткого отрезка <code><mark>*.mp3,</mark></code> в электронную таблицу, 
        которая позволяет по загруженным данным построить график “сигнала” во времени; график следует сравнить с тем 
        визуальным представлением, которое формируется для этого звукового отрезка в каком-нибудь аудиоредакторе.
      </p>
