{{!-- <div id="loader"></div> --}}
<h4 class="mt-3">Разработка средств конвертации мультимедийных файлов для подготовки входных данных научно-исследовательских экспериментов</h4>
       <p class="lead">
        К файлам мультимедиа здесь будем относить графические <code>(*.jpg, *jpeg, *.png),</code>
        аудио <code>(*.wav, *.mp3),</code> видео <code>(*.wmv, *.avi, *.mp4)</code> файлы. 
        Мультимедиа-объекты могут служить доступным источником “реалистичных”, информационно-насыщенных, 
        нетривиальных входных данных для различного рода научно-исследовательских экспериментов. 
        </p>
      <p class="lead">
      Предлагается реализовать конвертер мультимедиа-файлов основных типов в текстовые файлы простой структуры 
      <em>(для определенности – CSV)</em>. Поскольку мультимедиа-объекты имеют характерные параметры 
      <em>(ширина, высота, цветовые каналы, частота дискретизации, разрядность квантования уровня, 
      частота кадров и некоторые другие),</em> требуется ассоциировать эти параметры с <code>*.csv</code> файлами, 
      но без смешивания метаинформации с основными данными.
      </p>

      <p class="lead">
        Задание предполагает выбор подходящих библиотек и фреймворков, позволяющих получить программный доступ к 
        битовым плоскостям мультимедиа-данных. С использованием соответствующих инструментальных средств декодирования 
        запись выходного текстового массива становится тривиальной задачей. 
        Однако, задание усложняется необходимостью понимания смысловой составляющей организации 
        представления и хранения цифровых сигналов, а также широким спектром разрозненных алгоритмических реализаций, 
        которые требуется объединить в рамках одной программы. Корректность реализации можно на некотором грубом уровне 
        продемонстрировать импортом, например, <code>*.csv</code>, полученного из короткого отрезка <code>*.mp3,</code> в электронную таблицу, 
        которая позволяет по загруженным данным построить график “сигнала” во времени; график следует сравнить с тем 
        визуальным представлением, которое формируется для этого звукового отрезка в каком-нибудь аудиоредакторе.
      </p>
