
      {{!-- <img id="photo" src="https://www.google.com/images/srpr/logo11w.png" />
      <script type="text/javascript">
        $(document).ready(function () {
          $('img#photo').imgAreaSelect({
          handles: true,
          onSelectEnd: function (img, selection) {
          alert('width: ' + selection.width + '; height: ' + selection.height);
        }
      });
    });
  </script> --}}
  <div class="row">
    <div style="visibility: hidden;" class="col-md-12">
      <input type="text" value="123">
    </div>
  </div>
  <h1 class="mb-3">Media Files converter</h1>      
</div>